/* src/App.css */
.App {
  background-color: #2c2e3a;
  text-align: center;
  height: 100vh;
}

.App-header {
  padding: 20px;
  color: white;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Adjust based on your header height */
}

.expense-form {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.expense-form form {
  display: flex;
  flex-direction: column;
}

.expense-form label {
  margin-bottom: 8px;
}

.expense-form input[type="text"],
.expense-form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.participant-list {
  margin-bottom: 16px;
}

.participant-list div {
  margin-bottom: 8px;
}

.participant-list input[type="checkbox"] {
  margin-right: 8px;
}
