.App-header {
    text-align: center;
  }
  
  .balance-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
    width: 200px;
    height: 100px;
  }
  
  .balance-info p {
    margin: 5px 0;
  }
  
  .Main-Header{
    height: 500px;
  }

  .balances{
    justify-content: center;
    display: flex;
  }