* {
    box-sizing: border-box;
}

.App-header {
    background-color: #b3b4bd;
    text-align: center;
    width: 100%;
    height: auto;
}

.balance-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
    width: auto;
    height: auto;
}

.balance-info p {
    margin: 5px 0;
}


.balances {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.hide-time {
    display: none;
    bottom: -20px;
    left: 0;
    right: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
}

.balance-info:hover .hide-time {
    display: block;
}

.dropdown {
    display: none;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 5px;
}

.dropdown-content .balance-info {
    width: 100%;
    margin: 0;
    padding: 10px;
}

.dropdown-content p {
    margin: 5px 0;
}

.dropdown-button {
    display: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-button:focus + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

@media (max-width: 768px) {
    .balances {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .dropdown-button {
        display: block;
    }
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.zero {
    color: blue;
}

.btn{
    size: 50px;
}

.head{
    color: #141619;
}